/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
a.rvts11, span.rvts11
{
 font-size: 9pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: none;
}
a.rvts11:hover { text-decoration: underline; }
span.rvts12
{
 font-size: 9pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts13
{
 font-size: 14pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts14
{
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts15
{
 font-size: 14pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts16
{
 font-size: 9pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
}
span.rvts17 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts18, span.rvts18 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts19
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
}
span.rvts20
{
 font-size: 9pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
}
a.rvts21, span.rvts21
{
 font-size: 9pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts22
{
 font-size: 14pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
}
span.rvts23
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
}
span.rvts24
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #0000ff;
}
span.rvts25
{
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #800000;
}
span.rvts26
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts27
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #800000;
}
span.rvts28
{
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #000080;
}
span.rvts29
{
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #000000;
}
span.rvts30
{
 font-size: 8pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #ff00ff;
}
span.rvts31
{
 font-size: 8pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #0000ff;
}
span.rvts32
{
 font-size: 8pt;
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts33
{
 font-size: 8pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #008080;
}
span.rvts34
{
 font-size: 8pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts35
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts36
{
 font-size: 8pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #800000;
}
span.rvts37
{
 font-size: 8pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #008000;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-align: left;
 text-indent: 0px;
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 0px 0px 0px 0px;
 margin: 18px 0px 18px 0px;
}
.rvps5
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 48px;
}
.rvps6 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps7
{
}
.rvps8
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps9
{
 border-color: #ff0000;
 border-style: solid;
 border-width: 3px;
 background: #c0c0c0;
 background-color: rgba(192,192,192,0.5);
}
.rvps10
{
 text-indent: 48px;
}
.rvps11
{
 border-color: #6699ff;
 border-style: solid;
 border-width: 3px;
 background: #eeeeee;
 padding: 8px 8px 8px 8px;
 margin: 22px 0px 12px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
