<?xml version="1.0" encoding="utf-8"?>
<SnippetsSet id="TrakMapSnippets" xmlns="http://www.br-automation.com/iat2015/snippet/engineering/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Snippets>
		<Snippet id="SegComState" xsi:type="session" type="IndexText" formatItem="IAT/SEGSTATE.{1}" />
	</Snippets>
	<Snippets>
		<Snippet id="SnippetSegError" xsi:type="session" type="IndexText" formatItem="IAT/TrakError/Code.{1}" />
	</Snippets>
</SnippetsSet>
